@page
@model GridImageSelection
@{
    ViewData["Title"] = "Image Selection";
}

<html lang="en-IN" style="--inner1Vh: 3.61px; --sbw: 0px;">


<style media="screen">
    .riaMethod {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('~/Resource/HomeImage.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .giaMethod {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('~/Resource/HomeImage.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .button {
        margin-top: 50px;
        width: 100%;
        background-color: #080710;
        color: #ffffff;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }

    .imageDiv {
        padding: 10px;
        float: left
    }
</style>
<body>
    <div id="root">
        <div>
            <div style="text-align:center">
                <h2>Grid-Divided Image Authentication</h2>
                <h4>Select any one Image</h4>
            </div>
            <div>
                <div class="imageDiv" onclick="redirectToGrid('/GridImageSplit', 'FirstGIA')">
                    <img src="~/Resource/FirstGIA.png" width="350" height="500">
                </div>
                <div class="imageDiv" onclick="redirectToGrid('/GridImageSplit', 'SecoundGIA')">
                    <img src="~/Resource/SecoundGIA.png" width="350" height="500">
                </div>
                <div class="imageDiv" onclick="redirectToGrid('/GridImageSplit', 'ThirdGIA')">
                    <img src="~/Resource/ThirdGIA.png" width="350" height="500">
                </div>
            </div>
        </div>
        <script>
            function redirectToGrid(page, imageName) {
                // Pass the selected image name to the next page
                window.location.href = page + '?imageName=' + imageName;
            }
        </script>
    </div>
</body>
</html>